@model RegistrationAndLogin7.Models.Account

@{
    ViewBag.Title = "MyInfo";
}

<h2>@(Session["UserId"].ToString())님의 정보</h2>
<a href="@Url.Action("ChangePassword", "Account")">비밀번호 변경</a> ㅣ
<a href="@Url.Action("Quit", "Account")">회원탈퇴</a> ㅣ
<a href="@Url.Action("Logout", "Account")">로그아웃</a>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
