@{
    RegisterAndLogin6.Models.Board board = ViewBag.Board as RegisterAndLogin6.Models.Board;
    List<RegisterAndLogin6.Models.SPA.CommentList> comment = ViewBag.comment as List<RegisterAndLogin6.Models.SPA.CommentList>;
}

@{
    ViewBag.Title = "Details";
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<h2>Details</h2>

<p>
    @Html.ActionLink("뒤로가기", "Index")
    |
    @*@Html.ActionLink("수정", "Edit", new { id = Model.Id })*@
    @Html.ActionLink("Details", "Board", new { Id = board.Id })
    |
    @*@Html.ActionLink("삭제", "Delete", new { id = Model.Id })*@
    @Html.ActionLink("Delete", "Board", new { Id = board.Id })
</p>
<div>
    <div class="row">
        <hr />
        @*<dl class="dl-horizontal">
                <dt>
                    No
                </dt>
                <dd>
                    @board.Id
                </dd>
                <dt>
                    글제목
                </dt>
                <dd>
                    @board.Title
                </dd>
                <dt>
                    글내용
                </dt>
                <dd>
                    @board.Comment
                </dd>
                <dt>
                    작성자
                </dt>
                <dd>
                    @board.UserId
                </dd>
                <dt>
                    등록일
                </dt>
                <dd>
                    @board.Regdate
                </dd>
            </dl>*@

        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>글제목</th>
                        <th>글내용</th>
                        <th>작성자</th>
                        <th>등록일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@board.Id</td>
                        <td>@board.Title</td>
                        <td>@board.Comment</td>
                        <td>@board.UserId</td>
                        <td>@board.Regdate</td>
                    </tr>
                </tbody>
            </table>

            @*<table class="table table-striped table-bordered">

                    <tr>
                        <th>작성자</th>
                        <td>@board.UserId</td>
                        <th>No</th>
                        <td>@board.Id</td>
                    </tr>
                    <tr>
                        <th style="padding-bottom: 15px;">글제목</th>
                        <th>등록일</th>
                        <td>@board.Regdate</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="title" value="[Re]&nbsp;"
                                   class="form-control" aria-describedby="basic-addon1">
                        </td>
                    </tr>

                    <tbody>
                        <tr>
                            <td colspan="2">
                                <textarea class="form-control" rows="10" name="content" placeholder="글을 적어 주세요."></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th style="padding-top: 15px">첨부파일</th>
                            <td><input type="file" class="btn btn-default" name="fileName" accept='image/*'></td>
                        </tr>
                    </tbody>
                </table>*@
        </div>
    </div>
    <!--/////////////////////////////////////////////////////////////-->
    <!-- Reply -->
    <!--/////////////////////////////////////////////////////////////-->



    <hr />
    <input class="txt_Reply" placeholder="댓글을 입력해주세요." />
    <input type="button" class="btn btn-success" id="btn_ReplySave" value="저장" />
    @*<input type="file" class="btn btn-default" name="fileName" accept='image/*'>*@

    <!-- 이미지 파일만 업로드 test1 -->
    <input type="file" id="file" accept='image/*'>
    <img src="" id="image" height="100">
    @*<script>
            $("#file").on("change", function (e) {
                var tmp = e.target.files[0];
                var img = URL.createObjectURL(tmp);
                $("#image").attr("src", img);
            });
        </script>*@

    <!-- 이미지 파일 업로드 test2 -->
    @*<input type="file" id="file" accept='image/*' />
        <img src="" id="image" height="100" />
        <script>
            $('#file').change(function () {
                setImageFromFile(this, '#image');
            });

            function setImageFromFile(input, expression) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $(expression).attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>*@

    <!-- 이미지 파일 업로드 test3 -->
    @*<form action="Upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file" accept='image/*' />
            <input type="submit" value="제출!" />
        </form>*@

    <!-- 이미지 파일 업로드 test4 -->
    @*<input type="file" id="file" accept='image/*' onchange="javascript: readURL(this);" />
        <img src="" id="image" height="100" />
        <script>
            $('#file').change(function () {
                setImageFromFile(this, '#image');
            });

            function setImageFromFile(image) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(image).attr('src', e.target.result);
                }
                reader.readAsDataURL(file);
            }
        </script>*@

    <!-- 이미지 파일 업로드 test5 -->
    @*@using (Html.BeginForm("UploadFile", "Board", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" id="file" style="width: 100%;" />
            <input type="submit" value="Upload" class="submit" />
        }*@

    <!-- 이미지 파일 업로드 test6 -->
    <!--<form action="UploadFile" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file" accept='image/*' />
        <input type="submit" value="업로드" class="submit" />-->
    @*        <img src="" id="image" height="100">
        <script>
            $("#file").on("change", function (e) {
                var tmp = e.target.files[0];
                var img = URL.createObjectURL(tmp);
                $("#image").attr("src", img);
            });
        </script>*@
    <!--</form>-->

    <br />
    <br />

    <!-- 댓글 리스트 -->
    @*    <div class="reply-wrap">
            <div class="reply-content">
                <div class="reply-group">
                </div>
            </div>
        </div>*@

    <!-- 댓글 리스트 -->
    @foreach (var item in comment)
    {
        <div class="reply-wrap">
            <div class="reply-content">
                <div class="reply-group">
                    <strong>
                        <a href="#" id="data_UserId" data-userid="@item.Id" data-id="@item.Id" onclick="return ReplyMention(@item.Id, '@item.UserId')">
                            @item.UserId
                        </a>
                    </strong>
                    <small class="left">
                        @item.Regdate
                    </small>
                    @if (@Session["UserId"].ToString() == @item.UserId)
                    {
                        <button type="button" class="btn btn-primary" id="data_Reply" data-id="@item.Id" onclick="return EditComment(@item.Id, '@item.Comment')">
                            <!-- data-id는 lowercase로 써줘야 가져올 수 있다. -->
                            <span class="glyphicon glyphicon-pencil"></span>수정
                        </button>
                        <button type="button" class="btn btn-danger" onclick="return DeleteReply(@item.Id)">
                            <span class="glyphicon glyphicon-remove"></span>삭제
                        </button>
                    }
                    <p style="width:100px">
                        @for (int i = 0; i < @item.Lv; i++)
                        {
                            <span>&nbsp;&nbsp;&nbsp;</span>
                        }
                        @item.Comment
                    </p>
                    @if (item.Image != null)
                    {
                        @*<img height="100">
                            @item.Image*@
                        @*<img src="file:///C://Users/Srook/@item.Image" height="100">*@
                        <img src="@item.Image" height="100">
                        @*<img src="" id="image" height="100">
                            <script>
                                $("#image").attr("src", @item.Image);
                            </script>*@
                    }
                </div>
            </div>
        </div>
    }

    <script>
        @*$(document).ready(function () {
            getReplyList();
        });

        function getReplyList() {
            let _itemList = $(".reply-group");
            var data = new { Id = comment.Id }

            $.ajax({
                type: "POST",
                url: "/Board/GetReplyList",
                data: data,
                success: function (result) {
                    $.each(result, function (data) {
                        $(".reply-wrap > .reply-content > .reply-group").append(data.Id);
                        $(".reply-wrap > .reply-content > .reply-group").append(data.UserId);
                        $(".reply-wrap > .reply-content > .reply-group").append(data.Regdate);
                        $(".reply-wrap > .reply-content").append(data.Comment);
                    });
                },
                error: function () {
                    alert("Error!!!");
                }
            })
        }*@


        /* 해당 UserId 클릭시 입력창에 멘션(Mention) 됨 */
        function ReplyMention(_Id, _UserId) {
            $(".txt_Reply").val("[" + _UserId + "] ").css("font-weight", "bold");
            $(".txt_Reply").focus();
            return false;
        };

        /* UserId 클릭하여 멘션(Mention)하면 입력창에 해당 UserId의 data가 들어감 */
        $("#data_UserId").on("click", function () {
            $(".txt_Reply").data("Id", $(this).data("id"));
            $(".txt_Reply").data("UserId", $(this).data("userid"));
            //$(".txt_Reply").data("UserId", $(this).attr("data-userid"));
            console.log($(this).data("id"));
            console.log($(this).data("userid"));
            return false;
        });

        /* "수정" 버튼 클릭시 Session 키를 체크하고 입력창에 해당 댓글이 보여짐 */
        @*function EditComment(_Id, _Comment, _UserId) {
            //console.log(_Id, _Comment, _UserId);
            if (_UserId = @Session["UserId"].ToString()) {
                $(".txt_Reply").val(_Comment);
                $(".txt_Reply").focus();
            } else {
                alert("작성자 본인만 댓글 수정이 가능합니다.");
            }
            return false;
        };*@

        /* "수정" 버튼 클릭시 입력창에 해당 댓글이 보여짐 */
        function EditComment(_Id, _Comment) {
            $(".txt_Reply").val(_Comment);
            //$(".txt_Reply").data("Id", $(this).data("id"));
            $(".txt_Reply").focus();
            return false;
        };

        /* "수정" 버튼 클릭시 입력창에 해당 Id의 data가 들어감 */
        $("#data_Reply").on("click", function () {
            $(".txt_Reply").data("Id", $(this).data("id"));
            console.log($(this).data("id"));
            return false;
        });

        /* "저장" 버튼 클릭시 댓글 Insert or Update */
        $("#btn_ReplySave").click(function () {
            var data = {
                //Id: $(".txt_Reply").data("Id") == '0' ? '0' : $(".txt_Reply").data("Id"),
                Id: $(".txt_Reply").data("Id") == undefined ? 0 : $(".txt_Reply").data("Id"),
                ParentId: $(".txt_Reply").data("Id") == undefined ? undefined : $(".txt_Reply").data("Id"),
                TopId: $(".txt_Reply").data("Id"),
                Lv: $(".txt_Reply").data("id") == undefined ? 1 : $("txt_Reply").data("Id"),
                Comment: $(".txt_Reply").val(),
                Image: $("#file").val() == "" ? undefined : $("#file").val()
            }
            $.ajax({
                type: "POST",
                url: "/Board/ReplyUpdate",
                data: data,
                success: function () {
                    //if ($(".txt_Reply").data("Id") == undefined) {
                    if ($(".txt_Reply").data("Id") == undefined) {
                        alert("신규 저장 완료");
                    } else if ($(".txt_Reply").data("UserId") != undefined) {
                        alert("댓글 등록 완료");
                    } else {
                        alert("수정 완료");
                    }
                    window.location.reload();
                    //getReplyList();
                }
            })
        });

        /* 댓글 Delete */
        var DeleteReply = function (_Id) {
            $.ajax({
                type: "POST",
                url: "/Board/ReplyDelete",
                data: { Id: _Id },
                success: function () {
                    alert("삭제 완료!!");
                    window.location.reload();
                    //getReplyList();
                }
            })
        };

        /* 이미지 파일 주소 불러오기 */
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader(); //파일을 읽기 위한 FileReader 객체 생성
                reader.onload = function (e) {
                    //파일 읽기를 성공했을때 호출되는 이벤트 핸들러
                    $("#file").attr('src', e.target.result);
                    //이미지 Tag의 src속성에 읽어들인 File 내용을 지정
                }
                reader.readAsDataURL(input.files[0]);
                //File 내용을 읽어 dataURL 형식의 문자열로 저장
            }
        }
    </script>
</div>
