@{
    ViewBag.Title = "SrookPay 자유게시판";
    List<RegisterAndLogin6.Models.Board> boardIndex = ViewBag.boardIndex as List<RegisterAndLogin6.Models.Board>;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>자유게시판</title>
</head>
<body>

    <h2>자유게시판</h2>
    <hr />
    <p>
        @Html.ActionLink("글 작성", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                No
            </th>
            <th>
                글제목
            </th>
            <th>
                작성자
            </th>
            <th>
                등록일
            </th>
            <th></th>
        </tr>
        @foreach (var item in boardIndex)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.UserId
                </td>
                <td>
                    @item.Regdate
                </td>
                <td>
                    @Html.ActionLink("자세히", "Details", new { id = item.Id }) |
                    @Html.ActionLink("수정", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("삭제", "Delete", new { id = item.Id })
                </td>
            </tr>

        }
    </table>
</body>
</html>
