@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<RegisterAndLogin6.Models.SPA.CommentList> commentList = ViewBag.CommentList as List<RegisterAndLogin6.Models.SPA.CommentList>;

    //RegisterAndLogin6.Models.SPA.ReplyList replyList = ViewBag.ReplyList as RegisterAndLogin6.Models.SPA.ReplyList;
}

<h2>Single Page Application</h2>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<hr />

<input type="text" class="txt_Comment" />
<input type="button" id="btn_save" value="저장" />

<table class="table">
    <thead>
        <tr>
            <th>번호</th>
            <th>글내용</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in commentList)
        {
            <tr>
                @*<td>@item.Id</td>*@
                <td>
                    <a class="data_Id" href="#" onclick="return editComment(@item.Id, '@item.Comment')">@item.Id</a>
                </td>
                @*<td>@item.Comment</td>*@
                <td>
                    <a class="data_Comment" href="#" data-id="@item.Id">@item.Comment</a>
                </td>
                @*<td>@item.UserId</td>*@
                <td>
                    <a href="#" onclick="return mention(@item.Id)">@item.UserId</a>
                </td>
                <td>@item.Regdate</td>
                <td>
                    @*<a href="#" onclick="return editComment(@item.Id, '@item.Comment')">수정</a> |*@
                    <input type="button" onclick="return editComment(@item.Id, '@item.Comment')" value="수정" />
                    @*<a href="#" id="btn_delete" onclick="return deleteComment()">삭제</a>*@
                    @* <a href="#" type="button" id="btn_delete">삭제</a>*@
                    <input type="button" id="btn_delete" value="삭제" />
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- 이미지 파일만 선택가능 -->
@*<input type='file' accept='image/*' onchange='openFile(event)'>
    <br>
    <img id='output'>
    <script>
        var openFile = function (event) {
            var input = event.target;

            var reader = new FileReader();
            reader.onload = function () {
                var dataURL = reader.result;
                var output = document.getElementById('output');
                output.src = dataURL;
            };
            reader.readAsDataURL(input.files[0]);
        };
    </script>*@

<!-- 전체 파일 선택가능 -->
<input type="file" id="imgInput" onchange="readURL(this)">
<br>
<div id="previewDiv"></div>
<script>
    function readURL(obj) {
        let reader = new FileReader();
        if (!obj.files.length) {
            return;
        }
        reader.readAsDataURL(obj.files[0]);
        reader.onload = function (e) {
            let img = $('<img />');
            $(img).attr('src', e.target.result);
            $('#previewDiv').append(img);
        }
    }
</script>

<script>
    function editComment(_Id, _Comment) {
        $(".txt_Comment").val(_Comment);
        return false;
    }

    function deleteComment(_Id, _Comment) {
        $(".txt_Comment").val("");
        return false;
    };

    function mention() {
        $(".txt_Comment").val("멘션기능추가");
        $(".txt_Comment").focus();
        return false;
    }
</script>

<script>
    $(document).ready(() => {
        // Insert or Update
        $("#btn_save").on("click", function () {
            $.ajax({
                method: "POST",
                url: "/SPA/Update",
                data: { Id: ($(".txt_Comment").data("Id") == undefined ? 0 : $(".txt_Comment").data("Id")), Comment: $(".txt_Comment").val() },
                //data: { Id: ($(".txt_Comment").data("Id") == null ? 0 : $(".txt_Comment").data("Id")), Comment: $(".txt_Comment").val() },
                success: function () {
                    if ($(".txt_Comment").data("Id") == undefined) {
                        alert("신규 저장 완료");
                    } else {
                        alert("수정 완료");
                    }
                    window.location.reload();
                }
            })
        });

        // Delete
        $("#btn_delete").on("click", function () {
            var Id = $(".data_Id").val();
            $.ajax({
                method: "POST",
                url: "/SPA/Delete",
                data: { Id: Id },
                success: function () {
                    alert("삭제 완료!!");
                    window.location.reload();
                }
            })
        });


        $("a.data_Comment").on("click", function () {
            $(".txt_Comment").data("Id", $(this).data("Id"))
            $(".txt_Comment").val($(this).text())
            return false;
        });

    });
</script>


@*<script type="text/javascript">
        function answerEdit(Id, UserId, Comment) {
            $('#acontent' + answer_idx).html(
                "<textarea id='edit_acontent" + Id + "'>" + Comment + "</textarea>"
                + "<style>#edit_acontent" + Id + "{width:740px; height:80px; resize:none;} </style>"
            );

            $('#abt' + Id).html(
                "<a onclick='answerEditSave(" + Id + ")' id='btnEdit'>완료</a> "
                + "<a onclick='location.href='qnaDetail.do?idx=" + "' id='btnCancel'>취소</a>"
            );
        }

        function answerEditSave(answer_idx) {
            var Comment = $("#edit_acontent" + Id).val();
            location.href = 'answerEdit.do?Id=' + Id + "&Comment=" + Comment;
        }
    </script>*@

<hr />
<textarea class="txt_Reply" placeholder="댓글을 입력해주세요."></textarea>
@*<input type="text" class="txt_Reply" />*@
<input type="button" id="btn_ReplySave" value="저장" />
<br>
<br>
<!-- 이미지 파일만 선택가능 -->
<input type='file' accept='image/*' onchange='openFile(event)'>
<br>
<img id='output'>
<script>
    var openFile = function (event) {
        var input = event.target;

        var reader = new FileReader();
        reader.onload = function () {
            var dataURL = reader.result;
            var output = document.getElementById('output');
            output.src = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
    };
</script>
<br />
<br />
@foreach (var item in commentList)
{
    <div class="reply-wrap">
        @*<div class='reply-image'>
                <img src='@item.Image'>
            </div>*@
        <div class="reply-content">
            <div class="reply-group">
                @*<strong class="left" onclick="return mention(@item.Id)">@item.UserId</strong>*@
                <strong><a href="#" data-id="@item.Id" onclick="return ReplyMention('@item.UserId')">@item.UserId</a></strong>
                <small class="left">@item.Regdate</small>
                <a href="#" class="right"><span class="glyphicon glyphicon-pencil"></span>수정</a>
                <a href="#" class="right" id="btn_ReplyDelete"><span class="glyphicon glyphicon-remove"></span>삭제</a>
            </div>
            <p class="clearfix">@item.Comment</p>
        </div>
    </div>
}

<script>
    @*$(document).ready(function () {
        getReplyList();
    });

    function getReplyList() {
        //var Id = $("#Id");
        $.ajax({
            url: "/SPA/Index",
            type: "POST",
            dataType: "json",
            success: function (result) {

            }
        })
    }*@


    /* 해당 UserId 클릭시 입력창에 mention됨 */
    function ReplyMention(_UserId) {
        $(".txt_Reply").val(_UserId);
        $(".txt_Reply").focus();
        return false;
    }

    $("#btn_ReplySave").click(function () {
        //var Id = $("#")
        $.ajax({
            method: "POST",
            url: "/SPA/Update",
            data: { Id: ($(".txt_Reply").data("Id") == undefined ? 0 : $(".txt_Reply").data("Id")), Comment: $(".txt_Reply").val() },
            success: function () {
                if ($(".txt_Reply").data("Id") == undefined) {
                    alert("신규 저장 완료");
                } else {
                    alert("수정 완료");
                }
                window.location.reload();
            }
        })
    });

    // Delete
    $("#btn_ReplyDelete").on("click", function () {
        var Id = $(".data_Id").val();
        $.ajax({
            method: "POST",
            url: "/SPA/Delete",
            data: { Id: Id },
            success: function () {
                alert("삭제 완료!!");
                window.location.reload();
            }
        })
    });

</script>